<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.tailwindcss.com'></script>
    <title> {% block title %}  welcome {% endblock  %}  |   HTML Heading Template</title>
</head>
<body>
    
    <nav class="bg-blue-500 ">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
          <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
              <div class="flex-shrink-0">
          
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4 font-bold">

                <a href="" class="text-black-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>


                  <a href="{% url 'tech_army:login'%}" class="text-black-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log in</a>
                  <a href="{% url 'tech_army:signup'%}" class="text-black-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"> Signup</a>
                
                 <a href="admin" class="text-black-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Admin login</a>
                  <a href="{% url 'tech_army:profile'%}" class="text-black-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% block content %}
      <h1>This is a Heading</h1>
      {% endblock %}
</body>

</html>