{% extends 'base.html' %}
{% block content%}

<header class="bg-blue-900 text-white py-4 px-8">
    <h1 class="text-3xl font-semibold">Emergency Services</h1>
</header>

<!-- Services Section -->
<div class="container mx-auto py-8 px-4">
    <h2 class="text-2xl font-semibold mb-4">Available Services:</h2>
    <ul class="list-disc pl-6">
        <li class="mb-2">
            <h3 class="text-lg font-semibold">Fire Services:</h3>
            <p>
                Our dedicated team of firefighters is available 24/7 to respond to fire emergencies.
                Call us immediately in case of any fire-related incidents in your area.
            </p>
        </li>
        <li class="mb-2">
            <h3 class="text-lg font-semibold">Flood Services:</h3>
            <p>
                We are equipped to handle flood situations and provide assistance during floods.
                Stay safe and call our helpline number to report any flood emergencies.
            </p>
        </li>
        <li class="mb-2">
            <h3 class="text-lg font-semibold">Ambulance Services:</h3>
            <p>
                In case of medical emergencies or accidents, our ambulance services are available round-the-clock.
                Dial our emergency number, and our skilled paramedics will respond promptly.
            </p>
        </li>
    </ul>
</div>



{% endblock%}