{% extends 'base.html' %}
{% comment %} {% block content%}
<!DOCTYPE html>
<html>
<head>
  <title>Shared Textarea</title>
</head>
<body>
  <form method="POST" action="{% url 'tech_army:reply_textarea'  %}" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  
  <hr>
  
  <h2>Previous Entries:</h2>
  {% for entry in entries %}
  <p>{{ entry.user.username}}</p>
  <p>{{ entry.title }}</p>
    <p>{{ entry.content }}</p>
    <p>{{ entry.created_at }}</p>
    <hr>
  {% empty %}
    <p>No previous entries found.</p>
  {% endfor %}
</body>
{% endblock %}
</html>   {% endcomment %}

{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content%}
<!DOCTYPE html>
<html>

<head>
  <title>Shared Textarea</title>
</head>

<body>
  <h1 class="text-center font-medium text-4xl mt-8 text-indigo-700">List of Possible Solutions</h1>
  <div class="mx-auto  p-4">
    <div class="max-w-lg mx-auto bg-white rounded-sm shadow-md p-8">
      <div class="flex items-center justify-center rounded-xl bg-indigo-100 p-3 m-auto">
        <form method="POST" action="{% url 'tech_army:reply_textarea'  %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 w-full rounded-md mt-4">Submit</button>
        </form>
      </div>
    </div>
      
      <hr class="my-6">

      <h2 class="text-xl  font-bold text-center">Previous Entries:</h2>
      <div class=" flex flex-row flex-wrap justify-center space-y-4 space-x-4 mt-4">
        {% for entry in entries %}
        <div class="border p-4 my-4 w-1/4 bg-blue-200 rounded-md">
          <p class="text-lg font-semibold">{{ entry.user.username}}</p>
          <p class="text-gray-800">{{ entry.title }}</p>
          <p class="text-gray-500">{{ entry.content }}</p>
          <p class="text-blue-500">{{ entry.created_at }}</p>
          
        </div>
        <hr>
        {% empty %}
        <p>No previous entries found.</p>
        {% endfor %}

        {% endblock %}
      </div>
    </div>
</body>

</html>